<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1\n道可道，\n非常道。\n名可名，\n非常名。\n無名天地之始，\n有名萬物之母。\n故常無欲，\n以觀其；\n常有欲，\n以觀其徼。\n此兩者同出而異名，\n同謂之玄，\n玄之又玄，\n衆妙之門。</string>
	<string>2\n天下皆知美之為美，\n斯惡已。\n皆知善之為善，\n斯不善已。\n故有無相生，\n難易相成，\n長短相較，\n高下相傾盈，\n音聲相和，\n前後相隨。\n是以聖人處無為之事，\n行不言之教；\n萬物作焉而不辭，\n生而不有。\n為而不恃，\n功成而弗居。\n夫唯弗居，\n是以不去。</string>
	<string>3\n不尚賢，\n使民不爭；\n不貴難得之貨，\n使民不為盜；\n不見可欲，\n使民心不亂。\n是以聖人之治，\n虛其心，\n實其腹，\n弱其志，\n強其骨。\n常使民無知無欲。\n使夫智者不敢為也。\n為無為，\n則無不治。</string>
	<string>4\n道沖而用之或不盈，\n淵兮似萬物之宗；\n挫其銳，\n解其紛，\n和其光，\n同其塵，\n湛兮似或存。\n吾不知誰之子，\n象帝之先。</string>
	<string>5\n天地不仁，\n以萬物為芻狗；\n聖人不仁，\n以百姓為芻狗。\n天地之間，\n其猶橐籥乎?\n虛而不屈，\n動而愈出。\n多言數窮，\n不如守中。</string>
	<string>6\n谷神不死，\n是謂玄牝。\n玄牝之門，\n是謂天地根。\n綿綿若存，\n用之不勤。</string>
	<string>7\n天長地久。\n天地所以能長且久者，\n以其不自生，\n故能長生。\n是以聖人後其身而身先；\n外其身而身存。\n非以其無私邪，\n故能成其私。</string>
	<string>8\n上善若水。\n水善利萬物而不爭，\n處眾人之所惡，\n故幾於道。\n居善地，\n心善淵，\n與善仁，\n言善信，\n正善治，\n事善能，\n動善時。\n夫唯不爭，\n故無尤。</string>
	<string>9\n持而盈之，\n不如其已；\n揣而梲之，\n不可長保。\n金玉滿堂，\n莫之能守；\n富貴而驕，\n自遺其咎。\n功成身退，\n天之道也。</string>
	<string>10/n載營魄抱一，\n能無離乎？\n專氣致柔，\n能嬰兒乎？\n滌除玄鑒，\n能無疵乎？\n愛民治國，\n能無知乎？\n天門開闔，\n能為雌乎？\n明白四達，\n能無為乎？\n生之、\n畜之，\n生而不有，\n為而不恃，\n長而不宰，\n是謂玄德。</string>
</array>
</plist>
