<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1\nThe Dao that can be spoken is not the Dao. \nThe name that can be named is not a name. \nNamelessness is the beginning of creation. \nNaming is the mother of all things. \nAbsent desire, you discover wonder;\nwith desire, you encounter boundaries.\n\nThere are these two:\nthat separate from the name,\nand that spoken from the darkness.\n\nDarkness from darkness,\ngateway to myriad wonders.</string>
	<string>2\nIn our world,\nall know beauty as “beauty,” \nthus ugliness exists.\nAll know kindness as “kindness,” \nthus the unkind exists.\n\nBeing and Non-Being give birth to one another;\ndifficulty and ease contend with each other;\nlong and short compare with one another;\nhigh and low flow out of each other;\nnote and voice measure one another;\nbeginning and end define each other.\n\nAnd so the Sage\nacts by doing nothing\nand instructs without words.\n\nShe works with the Creation,\nand does not abandon it.\nShe gives birth, but does not possess.\nShe supports, but does not need support in return.\nShe creates, but does not claim.\nThe parent does not live here,\nand thus is not absent.</string>
	<string>3\nDo not overesteem great men,\nlest the people become idle.\nDo not overvalue wealth,\nlest the people steal.\nDo not encourage desire,\nlest the people grow disorderly.\n\nSo the Sage governs\nby emptying their hearts,\nfilling their stomachs,\nsoftening their minds,\nstrengthening their bodies.\n\nShe helps them\nempty their thoughts,\nempty their desires.\n\nShe causes wise men to question themselves.\n\nBy doing nothing,\neverything is accomplished.</string>
	<string>4\nThe Dao is like a cup\nthat you can fill but is never full.\nIt is deep.  It is the source of all things.\nIn it, sharpness softens,\nTangles loosen,\nLight diffuses,\nDust settles.\nDeep as existence.\nI do not know whose child it is,\nshadow of a former god.</string>
	<string>5\nHeaven and Earth are ruthless,\ntreating the whole cosmos as a straw dog.\nThe Sage is ruthless,\ntreating all people as straw dogs.\n\nBetween heaven and earth,\nis it not just as a wind instrument?\n\nEmpty but never exhausted,\nBlowing and refilling in one motion.\n\nWords have limits.\nBetter to be aware within.</string>
	<string>6\nThe harvest goddess does not die.\nShe is called the dark female.\nHer gate is the source 
of heaven and earth—\nsoft as abundance,\neffortlessly productive.</string>
	<string>7\nThe Heavens are vast. The Earth is ancient.\nAnd so the cosmos can long remain.\n\nBecause it is not self-born,\nit can endure.\n\nThe Sage\nexists after the body, and thus before;\n\nremains outside the body, and thus within.\n\n\nIs this not Selflessness?\nThus the Sage can become the true Self.</string>
	<string>8\nThe highest good is like water.\n\nWater sustains the world and does not struggle,\nfollowing the ways that men disdain.\n\nIn dwelling, the good is location.\nIn heart and mind, depth.\nIn gifts, thoughtfulness.\nIn words, truth.\nIn governance, uprightness.\nIn affairs, ability.\nIn actions, timing.\n\nOnly the one who does not struggle achieves emptiness.</string>
	<string>9\nStretch a bow past its limit,\nand it breaks.\nSharpen a blade too much,\nand it dulls.\nFill your home with riches,\nand no one can defend it.\nWealth and power bring arrogance,\nwhich leads to ruin.\n\nDo your work, then let go—\nthus is the Dao.</string>
	<string>10\nCan you gather your wandering thoughts as One,\nand keep still?\nCan you concentrate your breathing and achieve softness,\nlike a child?\nCan you wash the darkness from the mirror,\nso it reflects truly?\nCan you love the people and lead them,\nwithout learning?\nCan you open and close the Gates of Heaven\nas a woman?\nCan you comprehend the world\nby doing nothing?\n\nGive birth and nourish;\nproduce but do not possess;\n\support but do not depend upon;\nbring up but do not control.\n\nHerein is the Virtue of Darkness.</string>
</array>
</plist>
