<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1\nThe Dao that can be spoken is not the Dao. \nThe name that can be named is not a name. \nNamelessness is the beginning of creation. \nNaming is the mother of all things. \nAbsent desire, you discover wonder;\nwith desire, you encounter the boundaries./n/nThere are these two:\nthat separate from the name,\nand that spoken from the darkness.\n\nDarkness from darkness,\nthe gateway to myriad wonders.</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
